__pycache__/
*.pyc
.venv/
venv/
.env
.streamlit/secrets.toml

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

artifacts/models/*
!artifacts/models/.gitkeep
artifacts/tmdb_cache/*
!artifacts/tmdb_cache/.gitkeep

.ipynb_checkpoints/
*.egg-info/
.pytest_cache/
